/*VARIABLES*/
$title-font: 'Sacramento', cursiva;
$h2-font: 'Sacramento', cursiva;
$h2-color: #FBA100;
$h2-FontSize: 4.4rem;
$p-font: 'montserrat', sans-serif;
$p-color: #6C648B;
$Footer-Background: linear-gradient(#6C648B, #B6A19E);
$h3-color: #6BBAA7;
$h3-font: 'Sacramento', cursiva;